<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://caucho.com/ns/resin"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.qr.statistic.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>QrProduce</servlet-name>
        <servlet-class>com.qr.statistic.web.QrProduceServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>QrProduce</servlet-name>
        <url-pattern>/produce</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>com.qr.statistic.web.QrRedirectServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>com.qr.statistic.web.QrStatisticContextListener</listener-class>
    </listener>

</web-app>
